@use '../base/variables' as *;

.about-me-container {
    padding: 1rem;
    max-width: $MaxWidth;

    @include desktopQuery {
        margin-top: 5%;
    }

    .content-container {
        max-width: 95%;
        margin: auto;

        @include tabletQuery {
            max-width: 80%;
           

           @include desktopQuery {
            max-width: 65%;
           }
        }
       
     
    }

    .about-me {
        position: fixed;
        top: 1.25rem;
        right: 1rem;
        font-size: 1rem;
        z-index: 20;
        cursor: pointer;

        @include desktopQuery {
            right: initial;
            margin-right: auto;
            margin-left: 8rem;
        }
    }

    .h2-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        svg {
            width: 2rem;
            height: 1.3rem;
            margin-left: .25rem;
            // margin-bottom: 0.1rem;

            path {
                // fill: #fff400;
                fill: #fff400;
                stroke: black;
                stroke-width: 9;
            }
        }

        
    }

    .text-content {
        padding-top: 1rem;
        line-height: 1.6;
        font-size: .96rem;

        p {
            line-height: 1.6;
            font-size: .96rem;
        }


    }
}