@use '../base/variables' as *;

.contact-me-container {

    padding: 1rem;

    

    .header-heading {
        position: fixed;
        top: 1.25rem;
        right: 1rem;
        font-size: 1rem;
        z-index: 20;

        @include desktopQuery {
            right: initial;
            margin-right: auto;
            margin-left: 9rem;
        }
    }

    .page-heading {
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }


    img {
        float: left;
        display: block;
        margin: auto;
        width: 50%;
        border-radius: 7px;
        // border: 1px solid black;
        box-shadow: -.2px 1px 3px rgb(0, 0, 0, 0.5);
        margin-right: .75rem;
        margin-top: 0.25rem;
    }

    .email-address {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $black;
    }

    .buttons-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        button {
            justify-content: space-between;
            display: flex;
            position: relative;
            margin: auto;
            padding: .8rem;
            background-color: $MainAccentColor;
            border: none;
            border-radius: 7px;
            color: $bodyBackground;
            font-weight: 500;
            margin-top: 1rem;
            margin-bottom: 1rem;
            box-shadow: -.2px 1px 3px rgb(0, 0, 0, 0.5);
            font-size: .8rem;
            width: 12rem;
    
            p {
                display: inline;
            }
    
            svg {
                
                font-size: 1rem;
                margin-left: .5rem;
            }
        }
    }
    
}