@use '../base/variables' as *;

.contact-me-container {
    max-width: $MaxWidth;
    padding: 2rem 1rem 1rem 1rem;

    @include desktopQuery {
        margin-top: 5%;
    }

    

    .header-heading {
        position: fixed;
        top: 1.25rem;
        right: 1rem;
        font-size: 1rem;
        z-index: 20;
        cursor: pointer;

        @include desktopQuery {
            right: initial;
            margin-right: auto;
            margin-left: 8rem;
        }
    }

    .page-heading {
        // margin-bottom: 1rem;
        font-size: 1.25rem;
    }


    img {
        float: left;
        display: block;
        margin: auto;
        width: 50%;
        max-width: 26rem;
        box-shadow: -.2px 1px 3px rgb(0, 0, 0, 0.5);
        margin-right: 1rem;

        @include customQueryContactPage {
            float: initial;
           
        }
    }

    .email-address {
        text-align: center;
        padding: .25rem;
    }

    a {
        text-decoration: none;
        color: $black;
        cursor: default;
    }

    .text-content {
        line-height: 1.6;
        font-size: .96rem;
    }

    .h2-container-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 1rem;

        @include customQueryContactPage {
            display: none;
        }

        svg {
            width: 2rem;
            height: 1.3rem;
            margin-left: .4rem;
            
            path {
                fill: #fff400;
                stroke: black;
                stroke-width: 9;
            }
        }
    }

    .contact-message-container {
        padding-top: .1rem;

        .content-right-container {

            @include customQueryContactPage {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem;
            }

            @include desktopQuery {
                padding: 1rem 2rem;
            }
    

            .h2-container-2 {
                display: none;

               @include customQueryContactPage {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    padding-bottom: 1rem;
                    
               }
        
                svg {
                    width: 2rem;
                    height: 1.3rem;
                    margin-left: .4rem;
                    
                    path {
                        fill: #fff400;
                        stroke: black;
                        stroke-width: 9;
                    }
                }
            }
        }

        
    

        @include customQueryContactPage {
            display: flex;

            p {
                align-self: center;
            }
        }


    }

    .buttons-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        button {
            justify-content: space-between;
            display: flex;
            position: relative;
            margin: auto;
            padding: .8rem;
            background-color: $MainAccentColor;
            border: none;
            border-radius: 7px;
            color: $bodyBackground;
            font-weight: 500;
            margin-top: 1rem;
            margin-bottom: 1rem;
            box-shadow: -.2px 1px 3px rgb(0, 0, 0, 0.5);
            font-size: .8rem;
            width: 12rem;
            cursor: pointer;
    
            p {
                display: inline;
                margin-left: 0.5rem;
            }
    
            svg {
                
                font-size: 1rem;
                margin-left: .5rem;
            }
        }
    }
    
}