@use '../base/variables' as *;


header {


    background-color: $bodyBackground;
    position: sticky;
    top: 0;
    width: 100%;
    padding-bottom: .5rem;
    z-index: 10;
    box-shadow: -.2px 1px 3px rgb(0, 0, 0, 0.25);

    .header-content-container {
        max-width: 1200px;
        margin: auto;
    }

    #cko {
        text-shadow: 0px 0.6px 1px rgb(0 0 0 / 39%);
        transition: .5s ease-in-out;
    }

    .active.flower-box {
        
        #cko {
            
            fill: $FlowerBoxAccentColor;
        }
    }
    .active.ghost-bomber {

        #cko {
            fill: $GhostBomberAccentColor;
        }
    }
    .active.portfolio {

        #cko {
            fill: $PortfolioAccentColor;
        }
    }
    .active.mustard {

        #cko {
            fill: $MustardAccentColor;
        }
    }

    

    svg {
        width: 8rem;
        height: auto;
        padding: 0.5rem 1rem;
    }
}