@use '../base/variables' as *;


header {
    background-color: $bodyBackground;
    position: sticky;
    top: 0;
    width: 100%;
    padding-bottom: .5rem;

    #cko {
        fill: $MainAccentColor;
    }

    svg {
        width: 8rem;
        height: auto;
        padding: 0.5rem 1rem;
    }
}