@use '../base/variables' as *;




.logo-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    

    @keyframes from-far-right{
        0% { transform: translateX(1000);}
        100% { transform: translateX(0);}
    }

    button {
        border: none;
        background: none;
        margin-top: 6rem;
        margin-left: .75rem;
        color: $black;
        transform: translateX(1000px);
        animation-name: from-far-right;
        animation-fill-mode: forwards;
        animation-duration: 1.1s;
        animation-timing-function: cubic-bezier(0.79, 0.01, 0.44, 1.09);
        animation-iteration-count: 1;
        animation-delay: 1.5s;
        animation-direction: normal;

        @include desktopQuery {
            margin-left: .5rem;
            margin-top: 8rem;
        }

    }
    


    @keyframes from-bottom-left{
        0% { transform: translate(-89px, 151px);}
        100% { transform: translate(0,0);}
    }
    .mustache-left {
        position: absolute;
        width: 15rem;
        animation-name: from-bottom-left;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.79, 0.01, 0.44, 1.09);
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-direction: normal;

        @include desktopQuery {
            width: initial;
        }
    }

    @keyframes from-bottom-right{
        0% { transform: translate(111px, 148px);}
        100% { transform: translate(0,0);}
    }
    .mustache-right {
        position: absolute;
        width: 15rem;
        animation-name: from-bottom-right;
        animation-duration: 1.3s;
        animation-timing-function: cubic-bezier(0.79, 0.01, 0.44, 1.09);
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-direction: normal;
        @include desktopQuery {
            width: initial;
        }
    }

    @keyframes from-left {
        0% { transform: translateX(-300px);}
        100% { transform: translateX(0);}
    }

   
    .cko {
        position: absolute;
        transform: translateX(-300px);
        width: 15rem;
        animation-name: from-left;
        animation-fill-mode: forwards;
        animation-duration: 1.1s;
        animation-timing-function: cubic-bezier(0.79, 0.01, 0.44, 1.09);
        animation-iteration-count: 1;
        animation-delay: 1s;
        animation-direction: normal;
        @include desktopQuery {
            width: initial;
        }

        @keyframes colorChange {
            0%   {fill:$MainAccentColor; }
            25%  {fill:$fdmAccentColor; }
            50%  {fill:$MustardAccentColor2; }
            75%  {fill:$GhostBomberAccentColor; }
            100% {fill:$MainAccentColor; }
            }

        text {
            animation-name: colorChange;
            animation-fill-mode: forwards;
            animation-duration: 7s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            animation-direction: normal;
        }
       


    }

    @keyframes from-right {
        0% { transform: translateX(300px);}
        100% { transform: translateX(0);}
    }
    .dev {
        position: absolute;
        width: 15rem;
        animation-name: from-right;
        animation-duration: 1.3s;
        animation-timing-function: cubic-bezier(0.79, 0.01, 0.44, 1.09);
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-direction: normal;
        @include desktopQuery {
            width: initial;
        }
    }

    @keyframes from-center {
        0% { transform: scale(0);}
        100% { transform: scale(1);}
    }
    .dot {
        position: absolute;
        width: 15rem;
        animation-name: from-center;
        animation-duration: 1.7s;
        animation-timing-function: cubic-bezier(1, 0.02, 0.83, 1.11);
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-direction: normal;
        @include desktopQuery {
            width: initial;
        }
    }

    @keyframes from-top-left {
        0% { transform: translate(187px, -222px);}
        100% { transform: translate(0);}
    }
    .eyebrow-left {
        position: absolute;
        width: 15rem;
        animation-name: from-top-left;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.79, 0.01, 0.44, 1.09);
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-direction: normal;
        @include desktopQuery {
            width: initial;
        }
    }

    @keyframes from-top-right {
        0% { transform: translate(-193px, -216px);}
        100% { transform: translate(0);}
    }
    .eyebrow-right {
        position: absolute;
        width: 15rem;
        animation-name: from-top-right;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0.79, 0.01, 0.44, 1.09);
        animation-iteration-count: 1;
        animation-delay: 0s;
        animation-direction: normal;
        @include desktopQuery {
            width: initial;
        }
    }

    
    
   
   
    
}




