@use '../base/variables' as *;

.home-page-content-wrapper {
    margin-bottom: 3rem;
    max-width: $MaxWidth;

    section {
        padding: 1rem;  
    }
    
    .contact-me {
        margin-bottom: 25rem;
    }
}




