@use '../base/variables' as *;


.loading-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @keyframes throb {
        0% {transform: scale(.75);}
        25% {transform: scale(.85);}
        50% {transform: scale(.95);}
        75% {transform: scale(.85);}
        100% {transform: scale(.75);}
    }

    svg {
        width: 3.5rem;
        height: auto;
        animation-name: throb;
        animation-fill-mode: forwards;
        animation-duration: 1.75s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-direction: normal;


        @keyframes loadColorChange {
            0%   {fill:$MainAccentColor; }
            25%  {fill:$fdmAccentColor; }
            50%  {fill:$MustardAccentColor2; }
            75%  {fill:$GhostBomberAccentColor; }
            100% {fill:$MainAccentColor; }
            }

        path {
            fill: $black;
            stroke-width: 0px;
            // animation-name: colorChange;
            // animation-fill-mode: forwards;
            // animation-duration: 2s;
            // animation-timing-function: linear;
            // animation-iteration-count: infinite;
            // animation-delay: 0s;
            // animation-direction: normal;

        }

       
    }
    
}

