@use '../base/variables' as *;


.main-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $bodyBackground;

    ul {
        list-style: none;
        display: flex; 
        justify-content: space-around;
        padding: 0 0 .5rem 0;
        margin: 0;
    }

    // li.selected {
    //     path {
    //         fill: $MainAccentColor;
    //     } 
    //     .menu-active {
    //         background-color: $MainAccentColor;
    //         animation: createBox .5s ease;
        
    //         .menu-active {
    //             display: none;
    //         }
    //     }
    // }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;

        &:visited {
            color: $black;
        }

        &.active path {
            fill: $MainAccentColor;
        }
        .menu-active {
            background-color: $bodyBackground;
            width: 3rem; 
            height: .2rem; 
            margin-bottom: .5rem;
            border-radius: 4px;
        }
        &.active .menu-active {
            background-color: $MainAccentColor;
            animation: createBox .5s cubic-bezier(0.67, 0.21, 0.54, 1.31);

            .menu-active {
                display: none;
            }
        }

         

        @keyframes createBox {
            from {
              transform: scaleX(0);
            }
            to {
              transform: scaleX(1);
            }
          } 

        svg {
            width: 2rem;
            height: 1.1rem;
            align-self: center;
        }
    
        p {
            font-size: .6rem;
            color: $black;
            align-self: center;
            padding-top: .2rem;
        }
    } 
}