@use '../base/variables' as *;

.main-nav-container {
    max-width: 70rem;
    display: flex;
    justify-content: flex-end;
    margin: auto;

}

.main-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $bodyBackground;
    box-shadow: .2px -1px 3px rgb(0, 0, 0, 0.06);

    @include desktopQuery {
        bottom: initial;
        top: 0;
        z-index: 15;
        background: none;
        box-shadow: none;
        width: initial;
        
    }

    ul {
        list-style: none;
        display: flex; 
        justify-content: space-around;
        padding: 0 0 .5rem 0;
        margin: 0;

        @include desktopQuery {
            justify-content: flex-end;
            max-width: $MaxWidth;
            margin: auto;
        }
    }

    a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        
        @include desktopQuery {
            
            p {
                width: 7rem;
                font-size: 1rem;
                padding: 1rem;
                text-align: center;
                font-weight: 600;
                width: 7rem;
            }
        }
        
        

        &:visited {
            color: $black;
        }

        &:hover {

            @include desktopQuery {
                border-radius: 10px;

                @keyframes navHoverColorChange {
                    0%   {color:$MainAccentColor; }
                    25%  {color:$fdmAccentColor; }
                    50%  {color:$MustardAccentColor2; }
                    75%  {color:$GhostBomberAccentColor; }
                    100% {color:$MainAccentColor; }
                    }
                
                p {
                    animation-name: navHoverColorChange;
                    animation-fill-mode: forwards;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                    animation-direction: normal;
                    
                }
                

                
    
            }

            
        }

        &.active {
            
            

            path {
                fill: $MainAccentColor; 
            }

            &.fdm path {
                fill: $fdmAccentColor;
                
            }
            &.ghost-bomber path {
                fill: $GhostBomberAccentColor;
            }
            &.portfolio path {
                fill: $PortfolioAccentColor;
            }
            &.mustard path {
                fill: $MustardAccentColor;
            }
        }


        
        .menu-active {
            background-color: $bodyBackground;
            width: 4rem; 
            height: .3rem; 
            margin-bottom: .5rem;
            border-radius: 4px;

            @include desktopQuery {
                display: none;
            }
        }

        &.active  {

            .menu-active {
                background-color: $MainAccentColor;
                animation: createBox .5s cubic-bezier(0.67, 0.21, 0.54, 1.31);
                // border: .1px solid $black ;

                .menu-active {
                    display: none;


                }

                @include desktopQuery {
                    display: none;
                }
            }

            &.fdm .menu-active {
                background-color: $fdmAccentColor;
                animation: createBox .5s cubic-bezier(0.67, 0.21, 0.54, 1.31);
                transition: .25s ease-in-out;

                .menu-active {
                    display: none;
                }
            }
            &.mustard .menu-active {
                background-color: $MustardAccentColor;
                animation: createBox .5s cubic-bezier(0.67, 0.21, 0.54, 1.31);
                transition: .25s ease-in-out;

                .menu-active {
                    display: none;
                }
            }
            &.ghost-bomber .menu-active {
                background-color: $GhostBomberAccentColor;
                animation: createBox .5s cubic-bezier(0.67, 0.21, 0.54, 1.31);
                transition: .25s ease-in-out;

                .menu-active {
                    display: none;
                }
            }
            &.portfolio .menu-active {
                background-color: $PortfolioAccentColor;
                animation: createBox .5s cubic-bezier(0.67, 0.21, 0.54, 1.31);
                transition: .25s ease-in-out;

                .menu-active {
                    display: none;
                }
            }
           
        }

        @keyframes createBox {
            from {
              transform: scaleX(0);
            }
            to {
              transform: scaleX(1);
            }
          } 

        svg {
            width: 2rem;
            height: 1.1rem;
            align-self: center;
            padding: 0;
            

            path {
                stroke-width: 0.7;
                transition: fill .25s ease-in-out;
            }

            @include desktopQuery {
                display: none;
            }
        }
    
        p {
            font-size: .6rem;
            color: $black;
            align-self: center;
            padding-top: .2rem;

            @include desktopQuery {
                font-size: 1rem;
                padding: 1rem;
            }
        }
    } 
}