@use '../base/variables' as *;


.project-cards {
    vertical-align: middle;
    margin: auto;
    max-width: $MaxWidth;
    width: 100%;
    margin-top: 5%;

    @include desktopQuery {
        
    }

    .featured-project {
        position: fixed;
        top: 1.25rem;
        right: 1rem;
        font-size: 1rem;
        z-index: 20;
        cursor: pointer;

        @include desktopQuery {
            right: initial;
            margin-right: auto;
            margin-left: 9rem;
        }
    }
}

.project-card {
    position: relative;
    padding: 0.6rem 1rem;
    
    a {
        color: black;
        display: flex;
        height: 6.25rem;
        border-radius: 7px;
        overflow: hidden;
        box-shadow: -.2px 1px 3px rgb(0, 0, 0, 0.5);
        text-decoration: none;
        color: $black;

        &:visited {
            color: $black;
        }

        @include desktopQuery {
            height: 8.25rem;
        }
    }

    h2 {
        position: absolute;
        width: 25%;
        font-size: 1rem;
        color: $bodyBackground;
        text-shadow: .5px 1px 1px rgb(0, 0, 0, 0.5);
        padding: .3rem;
        word-wrap: break-word;
    }

    .card-left {
        position: relative;
        overflow: hidden;
        width: 50%;
        height: 6.25rem;
        background-color: $MainAccentColor;

        @include desktopQuery {
            height: 8.25rem;
        }
    

        img {position: absolute;
            width: 60%;
            max-width: 5rem;
            bottom: -3px;
            right: -5px;
            transform: rotate(20deg);
            box-shadow: 5px 5px 10px black;
            border-radius: 3px; 
            
            @include desktopQuery {
                max-width: 6.2rem;
            }
            
        }
    }

    span {
        display: flex;
        flex-wrap: wrap;
        
        // flex-direction: column;
        // justify-content: center;
        width: 100%;
        background-color: $bodyBackground; 
        align-self: center;

        p {
            align-self: center;
            font-size: .8rem;
            padding: 0 1rem;

            @include desktopQuery {
                font-size: 1.1rem;
            }
    
        }
    
        button {
  
            align-self: center;
            justify-self: flex-end;
            background: none;
            border: none;
            font-size: .75rem;
            width: fit-content;
 
            margin-left: auto;
     
            margin-top: .5rem;
            cursor: pointer;
            color: $bodyBackground;
            border-radius: 4px;
            background-color: $MainAccentColor;
            padding: 0.4rem;
            margin-right: 0.4rem;
            box-shadow: $ButtonAndIconShadow;

            @include desktopQuery {
                margin-right: 1rem;
            }
        }
    }

   
}







