@use '../base/variables' as *;

.slider-container {
    max-width: 40rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.slider {
    overflow: auto;
    white-space: nowrap;
    margin-top: 1rem;
    z-index: 20;
   

    @include tabletQuery {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 2rem;
    }

    a {

        display: inline-block;
        text-align: center;
        text-decoration: none; 
        border-radius: 4px;
        color: $black;

        &:visited {
            color: $black;
        }

        img {
            border-radius: 4px;
            width: 95%;
            max-width: 9rem;
        }

        p {
            text-decoration: none;
            text-align: left;
            padding: .25rem .5rem;
            font-size: .8rem;

           
        }
    }

    


}

