

.slider {
    position: relative;
    height: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    border-radius: 10px;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 2rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.arrow-left {
    position: absolute;
    top: 50%;
    left: 2rem;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}