
@use '../base/variables' as *;

    // .Tabs-container {
    //     background-color: blue;
    //     /* width: 100rem; */
    //     margin: auto;
    // }

    .Tabs {
        position: sticky;
        top: 59px;
        background-color: $bodyBackground;
        // box-shadow: 0px 0px 3px -1px rgb(0, 0, 0, 0.25);
    
       
    
            &:after {
                content: ' ';
                display: table;
                clear: both;
            }
        
        padding: 0;
        list-style: none;
        max-width: 36rem;
        margin: 1rem auto;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        gap: 0.4rem;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    
    
            button {
                color: $black;
                padding-top: 1rem;
                // background-color: #886aff;
                color: black;
                padding-bottom:1rem;
                border-radius:7px;
                margin-left: 0.5rem;

                &.fdm {
                    background: $fdmAccentColor;
                }
                &.ghost-bomber {
                    background: $GhostBomberAccentColor;
                }
                &.portfolio {
                    background: $PortfolioAccentColor;
                }
                &.mustard {
                    background: $MustardAccentColor2;
                }
            }
    
            &__tab {
                float: left;
                width: 33.333%;
                text-align: center;
                background: none;
                border: none;
                font-size: .85rem;
                cursor: pointer;
                margin-top: .5rem;
               
                
    
                &.TabUnstyled-root.Mui-selected.Tabs__tab.portfolio.Tab {
                    color: $PortfolioAccentColor;
                    background-color: $black;
                    font-weight: 600;
                    
                    
                }
                &.TabUnstyled-root.Mui-selected.Tabs__tab.mustard.Tab {
                    color: $MustardAccentColor2;
                    background-color: $black;
                    font-weight: 600;
                    
                    
                }
                &.TabUnstyled-root.Mui-selected.Tabs__tab.ghost-bomber.Tab {
                    color: $GhostBomberAccentColor;
                    background-color: $black;
                    font-weight: 600;
                    
                    
                }
                &.TabUnstyled-root.Mui-selected.Tabs__tab.fdm.Tab {
                    color: $fdmAccentColor;
                    background-color: $black;
                    font-weight: 600;
                    
                    
                }
    
    
    
                &:first-child.Mui-selected ~ .Tabs__presentation-slider {
                    transform: translateX(0) scaleX(0.333);
                }
                &:nth-child(2).Mui-selected ~ .Tabs__presentation-slider {
                    transform: translateX(33.333%) scaleX(0.333);
                }
                &:nth-child(3).Mui-selected ~ .Tabs__presentation-slider {
                    transform: translateX(calc(33.333% * 2)) scaleX(0.333);
                }
        }
        &__presentation-slider {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .25rem;
                // @supports (-webkit-touch-callout: none) {
                // /* CSS specific to iOS devices */ 
                //     height: .25rem;
                // }
            transform-origin: 0 0;
            transition: transform .4s;
            z-index: -1;
            // box-shadow: -0.2px 1px 3px rgb(0 0 0 / 20%);
            // border-radius: 7px;
    
            &.fdm {
                background-color: $fdmAccentColor;
                
            }
            &.portfolio {
                background-color: $PortfolioAccentColor;
                
            }
            &.ghost-bomber {
                background-color: $GhostBomberAccentColor;
      
    
            }
            &.mustard {
                background-color: $MustardAccentColor;
             
            }
        }
    
    
    }



