
// Type
@use './variables' as *;

body {
    font-family: $Montserrat;
    background-color: $bodyBackground; 
   
}

.wrapper {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.entry-content {
    margin: auto;
    max-width: $MaxWidth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 0;
   
}

h1, h2, h3, h4 {
    font-family: $Poppins;
}

h1, h2, h3, h4, p {
    margin: 0;
}

p {
    line-height: 1.4;
}