

// Type
$Poppins: 'Poppins', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$grapeNuts: 'Grape Nuts', cursive;
$roboto: 'Roboto', sans-serif;

// Colors
$black: black;
$yellow: rgb(255, 255, 122);
$bodyBackground: rgb(255, 255, 255);
$red: red;


// Accent colors
$MainAccentColor: #009af7;
$GhostBomberAccentColor: #ffb703;
$PortfolioAccentColor: #02a4fe;
$MustardAccentColor: black;
$MustardAccentColor2: #fdff7a;
$FlowerBoxAccentColor: #886aff;

// shadows
$ButtonAndIconShadow: -.2px 1px 3px rgb(0, 0, 0, 0.2);



